html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
body {
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.mine-picture {
    border-radius: 20px;
    width: 150px;
    height: 147px;
    padding: 16px;
}

.box {
    background-color: #ffffff;
    width: 633px;
    padding: 15px;
    border-radius: 16px;
}

.my-card__name {
    font-family: Arial;
}

.my-card__about-me {
    font-family: Arial;
}

.my-card__footer {
    font-family: arial;
}